<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="SeguridadSucursalVirtualSqlServer" connectionString="Data Source=tepresta.database.windows.net;Initial Catalog=SeguridadSucursalVirtual;User ID=tepresta;Password=Ceiba*2016;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="SucursalVirtualSqlServer" connectionString="Data Source=tepresta.database.windows.net;Initial Catalog=SucursalVirtual;User ID=tepresta;Password=Ceiba*2016;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <specFlow>
    <language feature="es-CO"  />
    <unitTestProvider name="MsTest" />
    <plugins>
      <add name="SpecFlow.Unity" type="Runtime" />
    </plugins>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>