<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="SeguridadSucursalVirtualSqlServer" connectionString="" />
    <add name="SucursalVirtualSqlServer" connectionString="" />
  </connectionStrings>
  <specFlow>
    <language feature="es-CO"  />
    <unitTestProvider name="MsTest" />
    <plugins>
      <add name="Ceiba.Unity" type="Runtime" />
    </plugins>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>
